 <div *ngIf="gameboard">

  <div class="winner" *ngIf="gameboard.bingo">
    <h1 class="winner-banner"> YOU WON! CONGRATULATIONS! </h1>
    <h6>...now get back to work ;)</h6>
  </div>
  <div class="loser" *ngIf="!gameboard.bingo && gameboard.gameover">
    <h1> You lost... better luck next time </h1>
  </div>

<!-- greyed out board for game over -->
  <div *ngIf="gameboard.gameover"  class="grid">
    <div *ngFor="let square of gameboard.board"
      [class]="square.marked? 'go-marked col-1-5 module' : 'go-unmarked col-1-5 module'">
        <h5> {{ square.value }} </h5>
    </div>
  </div>


  <div *ngIf="!gameboard.gameover" class="grid">
    <div *ngFor="let square of gameboard.board"
    [class]="square.marked? 'marked col-1-5 module' : 'unmarked module col-1-5'"
    (click)="toggle(square.index); square.marked = !square.marked" >
        <h5> {{ square.value }} </h5>
    </div>
  </div>

  <button class="bingo" (click)="bingo()" [disabled]="gameboard.gameover"> BINGO </button>

</div>

<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
