<div *ngIf="wordbank">
  <h2>List: {{wordbank.name}}</h2>
  <!-- TODO: edit wordbank and name inline using data binding from angular -->
  <!-- <div>
    {{wordbank.words}}
  </div> -->
  <button (click)="goBack()">Back</button>
  <button class="delete"
  (click)="deleteWordbank(wordbank.name)">Delete Wordbank</button>

  
  <ul class="heroes">
    <li *ngFor="let word of wordbank.words">
      <span>{{word}}</span>
      <!-- <input [(ngModel)]="wordbank.words.word" placeholder="word" /> -->
      <button class=""
        (click)="deleteWord(wordbank.name, word); $event.stopPropagation()">x</button>
    </li>
  </ul>

  <label>New word: <input #newWord /></label>
  <button (click)="addWord(wordbank.name, newWord.value); newWord.value=''">Add Word</button>
  <div></div>


</div>
