<h3>Wordbanks</h3>
<form #newWordbank="ngForm" class="new-wordbank">
  <label>New wordbank: <input  #newWordbankName required/></label>
  <div> Words (comma separated): <textarea #newWordbankWords required></textarea> </div>
  <button (click)="addWordbank(newWordbankName.value, newWordbankWords.value);
    newWordbankName.value=''; newWordbankWords.value=''"
    [disabled]="!newWordbank.form.valid">Add Wordbank</button>
</form>

<div class="grid grid-pad">
  <a *ngFor="let wordbank of wordbanks"  [routerLink]="['/wordbanks', wordbank.name]"  class="col-1-4">
    <div class="module wordbank">
      <h4>{{wordbank.name}}</h4>
    </div>
  </a>
</div>

<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
<!-- <hero-search></hero-search> -->
