[class*='col-'] {
  float: left;
  /*padding-right: 20px;
  padding-bottom: 20px;*/
  padding: 10px;
}
[class*='col-']:last-of-type {
  clear: right;
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
  display: table;
  text-align: center;
}
.col-1-5 {
  width: 19%;
  height: 120px;
  padding: 5px;
}
.module {
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
  display: table-cell;
  max-height: 120px;
  /*max-width: 200px;*/
  margin: 5px;
  border-style: solid;
  border-color: #A9A9A9;
  border-width: thin;
  border-radius: 5px;
}
.unmarked {
  color: black;
  background-color: #ffcc00;
}
.unmarked:hover {
  background-color: #ffeb99;
  cursor: pointer;
  color: #262626;
}
.marked {
  color: #ffcc00;
  background-color: black;
}
.marked:hover {
  background-color: #4D5656;
  cursor: pointer;
  color: #ffcc00;
}
.go-marked {
  background-color: #3498DB;
  color: white;
}
.go-unmarked {
  background-color: #BDBDBD;
  color: black;
}

.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

/* Nav bar changes */
@media (max-width: 991px) {
  .col-1-5{
    width: 100%;
  }
  .module:nth-child(5){
    margin-bottom: 50px;
  }
  .module:nth-child(10){
    margin-bottom: 50px;
  }
  .module:nth-child(15){
    margin-bottom: 50px;
  }
  .module:nth-child(20){
    margin-bottom: 50px;
  }
}

@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.app-title {
  padding: 20px;
}
.bingo {
  background-color: #85C1E9;
  display:block;
  /*width: 400px;*/
  width: 200px;
  height: 50px;
  margin-left:5px;
  /*margin:0 auto;*/
  text-align: center;
  clear: both;
}
.winner {
  text-align: center;
  padding:20px;
  border-radius: 2px;
}
.winner-banner {
  color:#ffcc00;
}
.loser {
  text-align: center;
  padding-bottom:20px;
}
