<!-- <h1>{{title}}</h1> -->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">Buzzword Bingo</a> <img src=favicon.ico>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"routerLink="/wordbanks" routerLinkActive="active">Wordbanks</a>
    </li>
  </ul>
  <!--TODO: put username here  -->
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div><!-- /.container -->
