<h3>Keep your company meetings lively.</h3>

<hr>

<div class="instructions">
<h4>Instructions</h4>
<p> To play, type in the name of the game you'd like to join.
When you hear a buzzword, click on the corresponding square.
When you get bingo, celebrate!
Bonus points for making up a new buzzword. </p>
<p>Create a new wordbank if the ones <a [routerLink]="['/wordbanks']">already here</a> just won't do! </p>
</div>

<set-username></set-username>

<join-game></join-game>






<!-- <div *ngFor="let hero of heroes" class="col-1-4">
  <div class="module hero">
    <h4>{{hero.name}}</h4>
  </div>
</div> -->
