<h3>Keep your company meetings lively.</h3>

<hr>

<div class="instructions">
<h4>Instructions</h4>
To play, type in the name of the game you'd like to join.
When you hear a buzzword, click on the corresponding square.
When you get bingo, celebrate!
Bonus points for making up a new buzzword.
</div>

<!-- <div class="grid grid-pad">
  <a *ngFor="let hero of heroes"  [routerLink]="['/detail', hero.id]"  class="col-1-4">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </a>
</div> -->
<join-game></join-game>






<!-- <div *ngFor="let hero of heroes" class="col-1-4">
  <div class="module hero">
    <h4>{{hero.name}}</h4>
  </div>
</div> -->
