[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-5 {
  width: 20%;
}
.module {
  padding: 20px;
  text-align: center;
  color: black;
  max-height: 120px;
  min-width: 120px;
  max-width: 200px;
  background-color: #ffcc00;
  border-radius: 2px;
}
.module:hover {
  background-color: #ffeb99;
  cursor: pointer;
  color: #262626;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.app-title {
  padding: 20px;
}

.bingo-square-header {
  border-radius: 10%;
  border: solid lightgrey;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
}

.bingo-square {
  border-radius: 10%;
  border: solid lightgrey;
  text-align: center;
  font-size: 1em;
  padding: .4em;
}

.bingo-card-balls-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 0;
}

.bingo-card-balls-called {
  font-size: 1em;
}

.bingo-ball {
  background-color: beige;
  border: solid grey 1px;
  border-radius: 50%;
  color: black;
  width: 2em;
  padding: .3em;
  font-size: .8em;
  text-align: center;
  box-shadow: 2px 2px 1px lightgrey;
}

.bingo-square-selected {
  background-color: skyblue;
}

.bingo-square-bingo {
  background-color: #98ffa1;
  font-weight: bold;
}
