 <div *ngIf="gameboard">

  <div class="winner" *ngIf="gameboard.bingo">
    <h1> YOU WON! CONGRATULATIONS! </h1>
    <h6>...now get back to work ;)</h6>
  </div>
  <div class="loser" *ngIf="!gameboard.bingo && gameboard.gameover">
    <h1> OOPS better luck next time </h1>
    <h6>... XX beat you too it.</h6>
  </div>


  <div class="grid">
    <div *ngFor="let square of gameboard.board" class="col-1-5" >
      <div *ngIf="gameboard.gameover" [class]="square.marked? 'go-marked' : 'go-module'">
        <h4> {{ square.value }} </h4>
      </div>
      <div *ngIf="!gameboard.gameover"
      [class]="square.marked? 'marked' : 'module'"
      (click)="toggle(square.index); square.marked = !square.marked">
        <h4> {{ square.value }} </h4>
      </div>
    </div>
  </div>

  <button class="bingo" (click)="bingo()" [disabled]="gameboard.gameover"> BINGO </button>

</div>

<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
