[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-5 {
  width: 20%;
}
.module {
  padding: 20px;
  text-align: center;
  color: black;
  max-height: 120px;
  min-width: 120px;
  max-width: 200px;
  background-color: #ffcc00;
  border-radius: 2px;
}
.module:hover {
  background-color: #ffeb99;
  cursor: pointer;
  color: #262626;
}
.marked {
  padding: 20px;
  text-align: center;
  color: #ffcc00;
  max-height: 120px;
  min-width: 120px;
  max-width: 200px;
  background-color: black;
  border-radius: 2px;
}
.marked:hover {
  background-color: #4D5656;
  cursor: pointer;
  color: #ffcc00;
}
.go-marked {
  background-color: #3498DB;
  /*background-color: #757575;*/
  padding: 20px;
  text-align: center;
  color: white;
  max-height: 120px;
  min-width: 120px;
  max-width: 200px;
  border-radius: 2px;
}
.go-module {
  background-color: #BDBDBD;
  padding: 20px;
  text-align: center;
  color: black;
  max-height: 120px;
  min-width: 120px;
  max-width: 200px;
  border-radius: 2px;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.app-title {
  padding: 20px;
}
.bingo {
  background-color: #85C1E9;
  display:block;
  width: 200px;
  text-align: center;
}
.winner{
  text-align: center;
  padding-bottom:20px;
}
